*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html, body{
    overflow-x: hidden;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png) ;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a{ 
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}


.register-btn{
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px; 
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.089);

    transition: all 0.3s ease;
    display: inline-block;
}

.register-btn:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 
        0 10px 25px rgba(0,0,0,0.25),
        inset 0 1px 0 rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.45);
}

.container{
    padding: 0 7%;
}

.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}

.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px ;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.search-bar .input-group{
    flex: 1;   
    display: flex;
    flex-direction: column;
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}

.Location-input{
    flex: 2;
}

.search-bar form label{
    font-weight: 600;
}

/****************************** Exlcusives  ***************************/
.sub-title{
    margin:40px 0 20px;
    font-size: 2.2vw;
    font-weight: 700;
    color: #333;
    text-align: center;      /* CENTER */
    letter-spacing: 1px;
}

/* 1. Mobile First: One image per row */
.exclusives {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 30px;
}

/* 2. Large Screens: Exactly 5 images per row */
@media (min-width: 1024px) {
    .exclusives {
        /* This forces 5 columns regardless of image size */
        grid-template-columns: repeat(5, 1fr); 
    }
}

.exclusives div img{
    width: 100%;
    border-radius: 10px;
}

.exclusives div{
    position: relative;
}

@keyframes identifier {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: identifier 5s linear;
}


/****************************** Trending places ***************************/

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:  30px;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}


/****************************** Call to action ***************************/

.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right,#3f3321 , transparent), url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p{
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}


/****************************** Travellers stories ***************************/

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:  30px;
    margin-bottom: 30px; 
}


.stories div img{
    width: 100%;
    border-radius: 10px;
    transition: all ease 1s;
}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.box{
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.box:hover img{
    scale: 1.2;

}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}



/****************************** About us ***************************/
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about-msg h2{
    font-size:28px ;
    margin-bottom: 30px;
    font-weight: 500;
}

/****************************** Footer ***************************/
.footer{
    margin:80px 0 10px ;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
    
}

.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    padding-bottom:15px ;

}

nav .fa-bars{
    display: none;
}

/****************************** Media queries ***************************/

@media only screen and (max-width:700px){

    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }

    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding:100px 7% 0 ;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }

    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }

    .hidemenu{
        max-height: 300px;
    }

    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }

    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding:20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }

    .search-bar form input{
        border-bottom: 1px solid#ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }

    .sub-title{
        font-size: 6vw;

    }

    .cta{
        padding:15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }

    .cta p{
        font-size: 14px;
    }

    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }

    .stories p{
        font-size: 22px;
    }

    .about-msg{
        font-size: 15px;
    }

}





                                            /****************************** Travel Page ***************************/
.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgb(0,0,0,0.05);
}

.navbar-white .nav-links li a{
    color: #000;
}

.navbar-white .register-btn{
    background-color: #ff5361;
    color: #fff;
}

.navbar-white .fa-bars {
    color: #000;
}



.list-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.left-col{
    flex-basis: 70%;
}

.right-col{
    flex-basis: 25%;
}

.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top:1px solid #ccc ;
}


.house-img{
    flex-basis: 40%;
}

.house-info{
   flex-basis: 58%;
   color: #555;
}

.house-img img{
    width: 100%;
    border-radius: 12px; 

}

.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-info i{
    color:#ff5361;
    font-size: 18px;
    margin: 10px 1px;
}

.house-price{
    text-align: right;
}

.house-price h4{
    font-size: 20px;
}

.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}

.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.filter p{
    flex: 1;
}

.filter input{
    margin-right: 15px;
    cursor: pointer;
}


.sidebar-link{
    text-align: right;
    margin: 20px 0;
}

.sidebar-link a{
    text-decoration: none;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.pagination img{
    width: 15px;
    margin: 10px 20px;
}

.right-arrow{
    transform: rotate(180deg);
}

.pagination span{
    width: 40px;
    margin: 10px 8px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background-color: #555;
    color: #fff;
}


/****************************** Media queries for TRAVEL page ***************************/

@media only screen and (max-width:700px){

    .list-container{
        margin-top: 150px;
    }

     .house-info, .house-img{
        flex-basis: 100%;

    }
    .list-container {
        flex-direction: column;
    }

    .left-col {
        flex-basis: 100%;
    }

    .right-col {
        flex-basis: 100%;
        margin-top: 30px;
    }

    .left-col h1{
        font-size: 22px;
    }

    .house-info h3{
        font-size: 18px;
    }
    .house-info i{
        font-size: 15px;
    }
}



/****************************** HOUSE DETAILS PAGE   ***************************/

.house-details{
    padding: 0 12%;
}

.house-title{
    margin-top: 50px;
}


.house-title h1{
    font-weight: 600;
}

.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 10px 0;
}

.house-title span{
    margin: 0 20px;
}

.house-title  i{
    color:  #ff5361;
    font-size: 14px;
}


.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . . ' 'first first . . ' ;
    margin: 20px 0;
}

.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
} 

.gallery-img-1{
    grid-area: first;
}

.small-details h2{
    font-weight: 500;
}

.small-details h4{
    text-align: right;
    font-size: 22px;
}

.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.check-form {
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

/* Input Sections */
.check-form div {
    flex: 1;
    min-width: 100px;
}

.check-form label {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.check-form input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    color: #777;
    margin-top: 5px;
}

/* .check-form{
    width: 85%;
    max-width: 1200px;
    margin: 80px auto;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}


.check-form label{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
}

.check-form  div{
    padding: 10px 40px 10px 0;
}
.check-form  input{
    background: transparent;
    border: 0;
    outline: none ; */
/* } */

.check-form  button{
    background-color: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}

.check-form button:hover{
    background-color: #ff3b4d;
}

.guest-field{
    flex: 1;
}

.details-list{
    list-style: none;
    margin: 50px 0;
}

.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc{
    max-width: 700px;
    margin-bottom: 50px;

}
.map{
    margin: 50px 0;
}

.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b{
    display: block;
    margin-bottom: 16px;
}


.host{
    display: flex;
    align-items: center;
}

.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}

.host i{
    color: #ff5361;
}

.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}

.contact-host:hover {
    background-color: #ff5361;
    color: white;
}


/****************************** Media queries for House page ***************************/

@media only screen and (max-width:700px){
    .house-details{
        margin-top: 150px;
    }

    .row p{
        margin-top: 10px;
    }

    .gallery{
        grid-template-areas: 'first first' '. .' '. .';
    }

    .small-details h2{
        font-size: 20px;
        margin-top: 24px;
    }

    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }

    .check-form {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .check-form button {
        width: 100%;
    }

    /* .check-form{
        padding: 10px 30px;

    }

    .check-form div{
        padding: 20px 0;
        width: 100%;
    }

    .check-form input{
        border-bottom:1px solid #ccc ;
        width: 100%;
        padding-bottom: 5px;
    }

    .check-form button{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    } */

    .host{
        display: block;
        line-height: 28px;
    }

    .contact-host{
        margin:40px 0 ;
    }

}
